name: CI_PullRequest

on:
  pull_request:
    branches: [ main ]

jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v2
        with:
          go-version: 1.20

      - name: Check LibraryModuleVersion variable value
        run: .github/checkVersionVar.sh

      - name: gofmt
        uses: Jerome1337/gofmt-action@v1.0.5
        with:
          gofmt-path: './'
          gofmt-flags: '-l -d -s -e'

      - name: go vet
        run: go vet ./...

      - name: go test
        run: go test -v -coverprofile=coverage.txt -covermode=atomic ./...

      - name: Upload coverage
        uses: codecov/codecov-action@v2
        with:
          files: ./coverage.txt
          fail_ci_if_error: true
          verbose: true
